.about 
	.about__container 
		.about__left 
			figure
				img(alt="jewelry" src='porche_12.jpg')
		.about__right
			.about__right__top 
				h2="ABOUT PORCHE JEWELLERY"
				figure
					img(alt="jewelry" src='porche_22.webp')
			.about__right__bottom 
				.left__paragraph 
					h3="POCHE was founded in Ukraine in 2019 by Tati Brailova and Nadya Syomik"
					p="Much like the confident pieces they create, they celebrate their story's unconventionality - two friend turned forever soulmates from opposite professional backgrounds, who launced a luxury jewellery line months before a global pandemic"
				.right__paragraph 
					p="Tai studied luxury fashion branding in London, going on to work at industry leaders like VAARA sportswear brand, Rojer Dove and David Morris Jewelery, while Nadya managed global teams in the world of business and data science. While successfull in their ambitions, both knew they wanted to live their lives on their own terms."
					p="The passion and enery ignited a creative spark around their shared love for jewellery"

