.home 
	.home__wrapper
		.home__container__tablet 
			.home__container__inner
				.home__overlay
					h2="DISCOVER MAGICAL RADIANCE JEWELLERY SET"
					.btns
						a.read__more
							h3="READ MORE"
						a.read__more
							h3="SEE ALL"
		.home__showcase 
			p.showcase__label="JEWELLERY FOR EVERY OCCASION"
			h2
				span="GET AFFORDABLE " 
				span="LUXURY DESIGNED " 
				span="JEWELRY"
			p.showcase__description="This collection was created in the spring of 2023. When creating the collection, jewelers did not deviate one iota from their principles of responsible attitude to natural resources and the environment"
			.home__showcase__media 
				figure.home__showcase__media__box 
					img.home__showcase__media__image(src="https://images.unsplash.com/photo-1611955167811-4711904bb9f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80", alt="")
			.home__showcase__media 
				figure.home__showcase__media__box 
					img.home__showcase__media__image(src="https://images.unsplash.com/photo-1583484370773-c1af4e528d5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80", alt="")
			.home__showcase__media 
				figure.home__showcase__media__box 
					img.home__showcase__media__image(src="https://images.unsplash.com/photo-1602173574767-37ac01994b2a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80", alt="")
			.home__showcase__media 
				figure.home__showcase__media__box 
					img.home__showcase__media__image(src="https://images.unsplash.com/photo-1611087388916-b6c97e01735b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=996&q=80", alt="")
		.home__highlight 
			.home__highlight__box
				p.home__highlight__description
					span.home__highlight__description__text="POCHÉ pieces are "
					span.home__highlight__description__text=" designed to provoke thought and attract attention. "
					br
					span.home__highlight__description__text="Each mindfully enhances the style, personality and vibe of their "
					br
					span.home__highlight__description__text=" wearers through playful "
					span.home__highlight__description__text=" combinations of color and shape.  " 
					br
					span.home__highlight__description__text="Never subtle, always with a strong point of view. "
					span.home__highlight__description__text="Just like their wearers, "
					br
					span.home__highlight__description__text="they are not for everybody - and that is what makes them exceptional."
				img.home__highlight__image(src="porche_1.webp", alt="")
				img.home__highlight__image(src="porche_2.webp", alt="")
				img.home__highlight__image(src="porche_3.webp", alt="")
				img.home__highlight__image(src="porche_4.webp", alt="")
				img.home__highlight__image(src="porche_5.webp", alt="")
				img.home__highlight__image(src="porche_6.webp", alt="")
				img.home__highlight__image(src="porche_1.webp", alt="")
		
		.home__collections
			.home__collections__wrapper 
				.home__collections__content
					p.home__collections__label="This season"
					h2.home__collections__title
						span="LUXURY"
						span="JEWELLERY" 
				.home__collections__gallery
					a.home__collections__gallery__media(href="")
						figure 
							img.home__collections__gallery__image(src="porche_1.webp", alt="")
					a.home__collections__gallery__media(href="")
						figure 
							img.home__collections__gallery__image(src="porche_1.webp", alt="")
					a.home__collections__gallery__media(href="")
						figure 
							img.home__collections__gallery__image(src="porche_1.webp", alt="")
					a.home__collections__gallery__media(href="")
						figure 
							img.home__collections__gallery__image(src="porche_1.webp", alt="")
					a.home__collections__gallery__media(href="")
						figure 
							img.home__collections__gallery__image(src="porche_1.webp", alt="")
			
			.home__collections__products
				//- on hover picuture shows
				.home__collections__media 
					.home__medias__media 
						//- rings
						//- https://images.unsplash.com/photo-1611955167811-4711904bb9f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80
						img.home__collections__gallery__image(src="porche_111.webp", alt="")
					.home__medias__media 
						//- necklace
						//- https://images.unsplash.com/photo-1583484370773-c1af4e528d5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80
						img.home__collections__gallery__image(src="porche_111.webp", alt="")
					.home__medias__media 
						//- Bangles
						//- https://images.unsplash.com/photo-1602173574767-37ac01994b2a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80
						img.home__collections__gallery__image(src="porche_111.webp", alt="")
					.home__medias__media 
						//- gold ring
						//- https://images.unsplash.com/photo-1611087388916-b6c97e01735b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=996&q=80
						img.home__collections__gallery__image(src="porche_111.webp", alt="")

		.home__prices 
			.home__prices__box 
				.home__prices__content 
					h2.home__prices__title
						span="Our"
						br
						span="Prices"
					p.home__prices__description
						| This collection was created in the spring of 2023. When creating the collection, jewelers did not deviate one iota from their principles of responsible attitude to natural resources and the environment
						br
						| Here's a list of our current prices 

					//- add more price item
					.home__prices__list
						.home__price__item
							span.item__name="Ring Jewlery"
							span.item__collection__name="Maria I"
							span.item__collection__price="$60"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash 
						.home__price__item
							span.item__name="Neck Jewlery"
							span.item__collection__name="Maria II"
							span.item__collection__price="$160"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Hand Jewlery"
							span.item__collection__name="Maria I"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
						.home__price__item
							span.item__name="Leg Jewlery"
							span.item__collection__name="Maria III"
							span.item__collection__price="$65"
							a.shop__now__btn(href="")="Shop now"
							span.item__price__dash
				figure.home__prices__media 
					img.home__prices__media__image(src="https://images.unsplash.com/photo-1597006354775-2955b15ec026?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80", alt="")
	footer.home__footer 
		.footer__column 
			a.footer__logo(href="/")="Porche"
		.footer__column 
			ul.footer__list 
				li.footer__list__item 
					a.footer__list__link(href="")="Collection"
				li.footer__list__item 
					a.footer__list__link(href="")="Contact"
				li.footer__list__item 
					a.footer__list__link(href="")="About"
				li.footer__list__item 
					a.footer__list__link(href="")="Shop"
				
		.footer__column 
			.footer__newsletter 
				h2.footer__newsletter__title="Subscribe to the newsletter"
				form.footer__newsletter__box
					input.footer__newsletter__input(type="email" placeholder="Your e-mail" required)
					button.footer__newsletter__button
						svg.footer__newsletter__icon(viewbox='0 0 13 14' xmlns='http://www.w3.org/2000/svg')
							path(d='M0 7H12M12 7L6 1M12 7L6 13')
		.footer__column 
			.footer__social 
				h2.footer__social__title="Social media"
				ul.footer__social__media__list
					li.footer__social__item
						a.footer__social__link(href="")
							svg.bi.bi-twitter(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='currentColor' viewbox='0 0 16 16')
								path(d='M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z')
					li.footer__social__item
						a.footer__social__link(href="")
							svg.bi.bi-instagram(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='currentColor' viewbox='0 0 16 16')
								path(d='M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z')

					li.footer__social__item 	
						a.footer__social__link(href="")
							svg.footer__social__icon(viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
								path(d='M20 3.8125C19.25 4.125 18.4688 4.375 17.6562 4.46875C18.5 3.96875 19.1562 3.15625 19.4688 2.1875C18.6875 2.65625 17.8125 3 16.875 3.1875C16.0938 2.375 15.0312 1.875 13.8438 1.875C11.5625 1.875 9.75 3.71875 9.75 5.96875C9.75 6.28125 9.78125 6.59375 9.84375 6.90625C6.4375 6.75 3.40625 5.09375 1.40625 2.625C1.0625 3.21875 0.84375 3.9375 0.84375 4.6875C0.84375 6.125 1.5625 7.375 2.65625 8.09375C1.96875 8.0625 1.34375 7.875 0.8125 7.59375C0.8125 7.625 0.8125 7.625 0.8125 7.65625C0.8125 9.65625 2.21875 11.3125 4.09375 11.6875C3.75 11.7813 3.375 11.8438 3 11.8438C2.75 11.8438 2.46875 11.8125 2.21875 11.7812C2.75 13.4062 4.25 14.5938 6.0625 14.625C4.65625 15.7188 2.875 16.375 0.96875 16.375C0.625 16.375 0.3125 16.3438 0 16.3125C1.8125 17.4375 3.96875 18.125 6.28125 18.125C13.8438 18.125 17.9688 11.875 17.9688 6.4375C17.9688 6.25 17.9688 6.09375 17.9688 5.90625C18.75 5.34375 19.4375 4.625 20 3.8125Z')
		.footer__column 
			p.footer__copyright="2023 all rights reserved"
		.footer__column 
			p.footer__credits 
				a(href='/' rel='noopener' target='_blank') Porche  &mdash;BA&reg;


			